# Flutter/Dart/Pub related
**/build/
**/.dart_tool/
**/.flutter-plugins
**/.flutter-plugins-dependencies
**/.packages
**/pubspec.lock

# Android related
**/android/.gradle/
**/android/app/*.iml
**/android/local.properties
**/android/.idea/
**/android/app/build/
**/android/app/src/main/java/.gitignore

# iOS related
**/ios/Flutter/.last_build_id
**/ios/Pods/
**/ios/Runner.xcworkspace/
**/ios/Runner.xcodeproj/project.xcworkspace/
**/ios/Runner.xcodeproj/xcuserdata/
**/ios/Flutter/Flutter.framework/
**/ios/Flutter/Flutter.podspec
**/ios/Flutter/Flutter.xcconfig
**/ios/Flutter/Generated.xcconfig
**/ios/Flutter/app.flx
**/ios/Flutter/app.zip
**/ios/Flutter/engine/
**/ios/Flutter/flutter_assets/
**/ios/ServiceDefinitions.json

# VS Code related
.vscode/
